main {
    background-color: rgb(220, 245, 230);
    border-style:dotted;
    margin:20pt;
}
h3 {
    font-size: larger;
}
.module {
    background-color: rgb(189, 240, 147);
    border-style:dotted;
    margin:10pt;
    padding: 10pt;
    min-width: 200pt;
    vertical-align: top;
    height: 400pt;
}
.second.module{
    background-color: rgb(218, 162, 196);
}

.container{
    display: flex;

}

section{
    padding: 10pt;
}
 @media (min-width:800px) and (max-width:1280px){
    .module{
        width: 300pt;
    }
}